<!DOCTYPE html>
<html>
    <head>
      <title>mAdLiBs!!!</title>
    </head>
    <body>
        <!-- Hi {{ person }}! I think you're {{ compliment }}! -->
        <form action="/game" style="text-align:center">
            <label for="gamerequest"> {{ person}}, would you like to play a game?</label><br>
            <input type= "radio" name= "confirmplay" id="gamerequest" value= "True">Yes
            <input type= "radio" name= "confirmplay" id="gamerequest" value= "False">No<br>
            <input type="submit">
        </form>
    </body>
</html>