<!DOCTYPE html>
<html>
    <head>
        <title>mAdLiBs!!!</title>
    </head>
    <body>
        <form action="/madlib" style="text-align:center">
            <label for="name">What's your nickname?</label>
            <input type="text" name="nickname" id="name"><br>
            <label for="color">What's your favorite color?</label>
            <input type= "text" name= "madlibcolor" id="color"><br>
            <label for="noun">What's your favorite noun?</label>
            <input type= "text" name="madlibnoun" id="noun"><br>
            <label for="adjective">What's your favorite adjective?</label>
            <input type="text" name="madlibadjective" id="adjective"><br>
            <input type="submit">
        </form>
    </body>
</html>