<!DOCTYPE html>
<html>
    <head>
        <title>mAdLiBs!!!</title>
    </head>
    <body>
        <form action="/madlib" style="text-align:center">
            <label for="name">What's your nickname?</label>
            <input type="text" name="nickname" id="name"><br>
            <label for="color">What's your favorite color?</label>
            <input type= "text" name= "madlibcolor" id="color"><br>
            <label for="noun">What's your favorite noun?</label>
            <input type= "text" name="madlibnoun" id="noun"><br>
            <label for="adjective">What's your favorite adjective?</label>
            <input type="text" name="madlibadjective" id="adjective"><br>
            <table>
                <tr>
                    <td>
                        <label for="birthmonth">Birthday:</label>
                            <select name="birthmonth">
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                    </td>
                    <td>
                        <label for="birthday"></label>
                        <input type="text" name="birthdate" id="birthday">
                    </td>
                    <td>
                        <label for="birthyear">,</label>
                        <input type="text" name="birthyear" id="birthyear">
                    </td>
                </tr>
            </table><br>
            <label for="petlike">What's your favorite creature?</label>
            <input type="radio" name="creature" value="balloonicorn">Balloonicorn
            <input type="radio" name="creature" value="iguana">Iguana
            <input type="radio" name="creature" value="nakedmolerat">Naked Mole Rat
            <input type="radio" name="creature" value="tarantula">Tarantula<br>
            <label for="complang">Which are your favorite programming languages?</label>
            <input type="checkbox" name="language" value="python">Python

            <input type="submit">
        </form>
    </body>
</html>